# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env

# VS Code
.vscode/

# MLflow
mlflow.db
mlruns/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Test Coverage
.coverage
htmlcov/

# Build Files
build/
dist/
*.egg-info/

# Pytest Cache
.pytest_cache/